//- V A R I A B L E S
-var titulos = ["Figuras Geométricas", "Porcentajes y Descuentos", "Promedio, Mediana y Moda", "Salarios", "Índice de Masa Corporal"]

//- M I X I N 
//- H E A D
mixin head(title, img, titlePage)
	head 
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="author" content="carlosArturoMT")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="carlosArturoMT")
		meta(name="DC.creator" content="carlosArturoMT")
		meta(name="copyright" content="carlosArturoMT")
		meta(name="description"
			content="Correspondiente al curso práctico de JavaScript de Platzi")
		meta(pproperty="og:site_name" content="JavaScript")
		meta(property="og:title" content=title)
		meta(property="og:description"
			content="Correspondiente al curso práctico de JavaScript de Platzi")
		meta(property="og:image"
			content=img)
		meta(property="og:image:url"
			content=img)
		meta(property="og:url" content="https://platzi.com")
		meta(property="og:type" content="blog")
		meta(itemprop="image"
			content=img)
		meta(name="twitter:image"
			content=img)
		meta(itemprop="image"
			content=img)
		title=titlePage
		link(rrel="image_src"
			href=img)
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
			rel="stylesheet")
		link(rel="icon" type="image/png" href="https://static.platzi.com/media/achievements/badge3-practico-javascript-d081180f-b158-446b-a34e-e658111a3680.png")
		link(rel="stylesheet" href="../sass/dist/styles.css")
		
//- H E A D E R 
mixin header() 
	header 
		nav(x-data="{ open: false }")
			.flex: a(href="../../index") 
				//- img(src="../assets/icons/calculator.png", alt="Logo")
				p WebMath
			.equiv(@click="open = true") &equiv;
			.toggle(x-show="open" @click.away="open = false")
				ul
					li: a(href="figuras.html") Geometría
					li: a(href="descuentos.html") Procentajes
					li: a(href="ProMedMod.html") Estadística
					li: a(href="salarios.html") Salario

//- C A R D - P O R T F O L I O 
mixin card_portfolio(icon, title, date, image, url, github, text)
	article.container__card
		aside.container__card--header
			img.container__card--header-photo(src=icon alt="profile photo")
			hgroup
				h2=title
				h3=date
		a(href=url target="_blank" rel="noopener noreferrer"): img.container__card--cover(src=image alt="cover")
		p=text
		footer
			a.item-a(href=url target="_blank" rel="noopener noreferrer") Ver más
			a.item-b(href=github target="_blank" rel="noopener noreferrer") GitHub